<div class="product-list">
  <h1>All Products</h1>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>
          <img src="{{ product.image }}" />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td>
          <fa-icon
            class="del"
            (click)="deleteProduct(product.id)"
            [icon]="deleteIcon"
          ></fa-icon>
          <a routerLink="/seller-update-product/{{ product.id }}"
            ><fa-icon class="edit" [icon]="editIcon"></fa-icon
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
