table {
  text-align: left;
  color: blueviolet;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid blueviolet;
  padding: 10px;
  min-height: 200px;
}

img {
  /* width: 110px; */
  height: 110px;
}

.del {
  cursor: pointer;
  color: red;
  /* align-items: center;
  text-align: center; */
  padding-left: 14px;
}

.edit {
  /* cursor: pointer; */
  color: blueviolet;
  /* align-items: center;
  text-align: center; */
  padding-left: 14px;
}
